--
-- PostgreSQL database dump
--

\restrict gOa5nDxdngUH6nhslsiaRS7M4Md7WXmdRL8hrVype1Zj7rQmNaEAINSVfzUoSl0

-- Dumped from database version 16.12
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: campaigns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.campaigns (
    h_campaignid bigint NOT NULL,
    chainid bigint NOT NULL,
    h_patient text NOT NULL,
    g_targetamount numeric(78,0) NOT NULL,
    h_raised numeric(78,0) DEFAULT 0 NOT NULL,
    g_duration integer NOT NULL,
    h_status smallint DEFAULT 0 NOT NULL,
    h_startdate bigint NOT NULL,
    f_campaigntitle text NOT NULL,
    f_campaigndescription text NOT NULL,
    f_reason text NOT NULL,
    f_imagehash text NOT NULL,
    f_medicaldiagnosishash text NOT NULL,
    f_treatmentquotationhash text NOT NULL,
    f_termsaccepted boolean DEFAULT false NOT NULL,
    f_creatorname text NOT NULL
);


ALTER TABLE public.campaigns OWNER TO postgres;

--
-- Name: donations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.donations (
    id integer NOT NULL,
    chainid bigint NOT NULL,
    g_campaignid bigint NOT NULL,
    h_donor text NOT NULL,
    h_amount numeric NOT NULL
);


ALTER TABLE public.donations OWNER TO postgres;

--
-- Name: donations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.donations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.donations_id_seq OWNER TO postgres;

--
-- Name: donations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.donations_id_seq OWNED BY public.donations.id;


--
-- Name: fundreleases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.fundreleases (
    id integer NOT NULL,
    chainid bigint NOT NULL,
    g_campaignid bigint NOT NULL,
    g_claimid bigint NOT NULL,
    h_patient text NOT NULL,
    h_amount numeric(78,0) NOT NULL
);


ALTER TABLE public.fundreleases OWNER TO postgres;

--
-- Name: fund_releases_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.fund_releases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.fund_releases_id_seq OWNER TO postgres;

--
-- Name: fund_releases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.fund_releases_id_seq OWNED BY public.fundreleases.id;


--
-- Name: indexerstate; Type: TABLE; Schema: public; Owner: app_user
--

CREATE TABLE public.indexerstate (
    id text NOT NULL,
    lastblock bigint DEFAULT 0 NOT NULL
);


ALTER TABLE public.indexerstate OWNER TO app_user;

--
-- Name: milestoneclaims; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.milestoneclaims (
    g_claimid bigint NOT NULL,
    chainid bigint NOT NULL,
    g_campaignid bigint NOT NULL,
    h_patient text NOT NULL,
    h_amount numeric(78,0) NOT NULL,
    h_yescount integer DEFAULT 0 NOT NULL,
    h_nocount integer DEFAULT 0 NOT NULL,
    h_executed boolean DEFAULT false NOT NULL,
    h_startdate bigint NOT NULL,
    claimtitle text,
    claimdescription text,
    f_imagehash text NOT NULL,
    h_status smallint DEFAULT 0 NOT NULL,
    f_medicaldiagnosishash text,
    f_treatmentquotationhash text
);


ALTER TABLE public.milestoneclaims OWNER TO postgres;

--
-- Name: milestonevotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.milestonevotes (
    chainid bigint NOT NULL,
    g_claimid bigint NOT NULL,
    h_voter text NOT NULL,
    h_votechoice boolean NOT NULL
);


ALTER TABLE public.milestonevotes OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    address text NOT NULL,
    username text NOT NULL,
    isverified boolean DEFAULT false NOT NULL,
    f_totalraised numeric DEFAULT 0 NOT NULL,
    f_activecampaigns integer DEFAULT 0 NOT NULL,
    f_totalsupporters integer DEFAULT 0 NOT NULL,
    totalcampaigns integer DEFAULT 0 NOT NULL,
    ishospitalrep boolean DEFAULT false NOT NULL,
    isdaomember boolean DEFAULT false NOT NULL,
    isactive boolean DEFAULT true NOT NULL,
    password text NOT NULL
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: donations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations ALTER COLUMN id SET DEFAULT nextval('public.donations_id_seq'::regclass);


--
-- Name: fundreleases id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fundreleases ALTER COLUMN id SET DEFAULT nextval('public.fund_releases_id_seq'::regclass);


--
-- Name: profiles accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (address);


--
-- Name: campaigns campaigns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.campaigns
    ADD CONSTRAINT campaigns_pkey PRIMARY KEY (h_campaignid, chainid);


--
-- Name: donations donations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_pkey PRIMARY KEY (id);


--
-- Name: fundreleases fund_releases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fundreleases
    ADD CONSTRAINT fund_releases_pkey PRIMARY KEY (id);


--
-- Name: indexerstate indexer_state_pkey; Type: CONSTRAINT; Schema: public; Owner: app_user
--

ALTER TABLE ONLY public.indexerstate
    ADD CONSTRAINT indexer_state_pkey PRIMARY KEY (id);


--
-- Name: milestoneclaims milestone_claims_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.milestoneclaims
    ADD CONSTRAINT milestone_claims_pkey PRIMARY KEY (g_claimid, chainid);


--
-- Name: idx_campaigns_chain_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_chain_status ON public.campaigns USING btree (chainid, h_status);


--
-- Name: idx_campaigns_patient; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_patient ON public.campaigns USING btree (h_patient);


--
-- Name: idx_campaigns_start_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_start_date ON public.campaigns USING btree (h_startdate DESC);


--
-- Name: idx_campaigns_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_campaigns_status ON public.campaigns USING btree (h_status);


--
-- Name: idx_claims_campaign; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claims_campaign ON public.milestoneclaims USING btree (chainid, g_campaignid);


--
-- Name: idx_claims_chain_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claims_chain_status ON public.milestoneclaims USING btree (chainid, h_status);


--
-- Name: idx_claims_patient; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claims_patient ON public.milestoneclaims USING btree (h_patient);


--
-- Name: idx_claims_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claims_status ON public.milestoneclaims USING btree (h_status);


--
-- Name: idx_donations_campaign; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_donations_campaign ON public.donations USING btree (chainid, g_campaignid);


--
-- Name: idx_donations_donor; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_donations_donor ON public.donations USING btree (h_donor);


--
-- Name: donations donations_campaign_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.donations
    ADD CONSTRAINT donations_campaign_fkey FOREIGN KEY (g_campaignid, chainid) REFERENCES public.campaigns(h_campaignid, chainid);


--
-- Name: fundreleases fund_releases_claim_id_chain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.fundreleases
    ADD CONSTRAINT fund_releases_claim_id_chain_id_fkey FOREIGN KEY (g_claimid, chainid) REFERENCES public.milestoneclaims(g_claimid, chainid);


--
-- Name: milestoneclaims milestone_claims_campaign_id_chain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.milestoneclaims
    ADD CONSTRAINT milestone_claims_campaign_id_chain_id_fkey FOREIGN KEY (g_campaignid, chainid) REFERENCES public.campaigns(h_campaignid, chainid);


--
-- Name: milestonevotes votes_claim_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.milestonevotes
    ADD CONSTRAINT votes_claim_fkey FOREIGN KEY (g_claimid, chainid) REFERENCES public.milestoneclaims(g_claimid, chainid);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO app_user;


--
-- Name: TABLE campaigns; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.campaigns TO app_user;


--
-- Name: TABLE donations; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.donations TO app_user;


--
-- Name: SEQUENCE donations_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.donations_id_seq TO app_user;


--
-- Name: TABLE fundreleases; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.fundreleases TO app_user;


--
-- Name: SEQUENCE fund_releases_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.fund_releases_id_seq TO app_user;


--
-- Name: TABLE milestoneclaims; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.milestoneclaims TO app_user;


--
-- Name: TABLE milestonevotes; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.milestonevotes TO app_user;


--
-- Name: TABLE profiles; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.profiles TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO app_user;


--
-- PostgreSQL database dump complete
--

\unrestrict gOa5nDxdngUH6nhslsiaRS7M4Md7WXmdRL8hrVype1Zj7rQmNaEAINSVfzUoSl0

